<?xml version='1.0' encoding='utf-8'?>
<plugin id="apex-oem-provisioning-sdk" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
	<name>Samsung Pay</name>
	<js-module name="SamsungProv" src="www/SamsungPayPlugin.js">
		<clobbers target="cordova.plugins.SamsungProv"/>
	</js-module>
	<asset src="www/SamsungPayPlugin.js" target="js/SamsungPayPlugin.js"/>
	<engines>
		<engine name="cordova" version=">=3.4.0"/>
	</engines>
	<platform name="android">
		<config-file target="config.xml" parent="/*">
			<feature name="SamsungProv">
				<param name="android-package" value="com.emcrey.provision.SamsungProvisioning"/>
				<param name="onload" value="true"/>
			</feature>
		</config-file>
		<source-file src="src/android/com/emcrey/provision/SamsungProvisioning.java" target-dir="src/com/emcrey/provision"/>
		<framework src="src/android/SamsungPay.gradle" custom="true" type="gradleReference"/>
		<lib-file src="src/android/apex_oem_provisioning_sdk.aar"/>
	</platform>
</plugin>